{% extends 'base.html' %}

{% block title%} Greeting page {% endblock %}

{% block content %}
<h1 id="user-flask">Flask Application</h1>
    <nav id="user-navigation">
        <ul>
            <li><a href="{{ url_for("users.greetings", name="John", age="30") }}">Greet John</a></li>
            <li><a href="{{ url_for("users.admin")}}">Admin</a></li>
        </ul>
    </nav>
    <h2 id="user-greeting">Hello, {{ name }}</h2>
    {% if age %}
        <p class="user-age">You are {{ age }} years old.</p>
    {% else %}
        <p class="user-age">Age is unknown.</p>
    {% endif %}
{% endblock %}