body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000000;
}

h1{
    text-align: center;
    padding: 25px;
}

#resume-navigation{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
#image{
    height: 300px;
    width: 300px;
    border-radius: 200px;
}
#about{
    display: flex;
    width: 50%;
    margin: 0% 150px;
}

#about > p{
    margin-left: 15px;
    margin-top: 10px;
    text-align: justify;
}


#skills-logos{
    display: flex;
    justify-content: space-between;
}

#education{
    display: flex;
    justify-content: space-around;
}

#education div{
    width: 20%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

#education div:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.educational-institutions{
    height: 150px;
    width: 100%;
}

#education div p{
    text-align: justify;
}

