{% extends 'base.html' %}
{% from 'form_macros.html' import render_field %}

{% block title %} Add POST {% endblock %}

{% block content %}
    <h1>Add Post</h1>
    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            
            {{ render_field(form.title) }}
            {{ render_field(form.content) }}
            {{ render_field(form.is_active) }}
            {{ render_field(form.publish_date) }}
            {{ render_field(form.category) }}
            
            {{ form.submit(class="btn btn-success") }}
    </form>
    <a href="{{ url_for("posts.get_posts") }}">Return to Posts</a>
    
{% endblock %}