{% extends 'base.html' %}

{% block title %}POSTS{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for(".static", filename="css/posts.css") }}">
{% endblock %}

{% block content %}
    <h1 class="posts-article">Posts</h1>
        <form action="{{ url_for(".add_post") }}" class="mb-4">
            <button type="submit" class="btn btn-success">Add post</button>
        </form>
    <div id="posts">
        {% if posts %}
            <div class="card-container">
                {% for post in posts %}
                    <div class="card">
                        <img src="{{ url_for(".static", filename="img/post_image.png") }}" alt="">
                        <h2>{{ post.get("title") }}</h2>
                        <p>Post №:{{ post.get("id") }}</p>
                        <p>{{ post.get("content") | truncate(23) }}</p>
                        <p><strong>Category:</strong> {{ post.get("category") }}</p>
                        <p><small><strong>Publish Date:</strong> {{ post.get("publish_date") }}</small></p>
                        <a href="{{ url_for('.detail_post', id=post["id"]) }}" class="btn btn-outline-success">View Post</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No posts available.</p>
        {% endif %}
    </div>
{% endblock %}